[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
black = "==19.10b0"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
transport-co2 = "*"
haversine = "*"

[requires]
python_version = "3.7"
